@media (max-width: 767px) {
  body {
    grid-template-areas:
      "navbar"
      "navbar "
      "aside"
      "video"
      "video"
      "video "
      "video"
      "footer";

    justify-content: space-around;

    gap: 10px;
  }

  .navbar {
    justify-content: space-around;
    gap: 5px;
  }

  .logo {
    gap: 0;
  }

  h1 {
    font-size: 2rem;
  }

  button {
    width: 90px;
    height: 40px;

    margin-left: 2px;

    font-size: 1.2rem;
  }

  .iconos img:hover {
    animation: none;
  }

  aside {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .aside-movil {
    width: 100%;
    height: auto;
    visibility: visible;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 5px;
    border-radius: 8px;

    position: sticky;
    z-index: 1;

    background-color: var(--main);
  }

  .aside-movil img {
    width: 36px;
    height: auto;
    margin: 5px;
  }

  .video:hover {
    transform: scale(1);
    padding-bottom: 0;

    border: 0 transparent;
  }

  h4 {
    font-size: 1.6rem;
  }

  .video-container img {
    width: 50px;
    height: 50px;

    border-radius: 50%;
  }

  .video-container a {
    font-size: 1.5rem;
  }

  .video-container p {
    font-size: 1.2rem;
  }

  .redes img:hover {
    animation: none;
  }
}
