@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Manrope:wght@300&family=Secular+One&display=swap");
:root {
  --body: #fff0f3;
  --main: #ffccd5;
  --detalles: #c9184a;
  --titulos: #590d22;

  --h1: "Bungee", cursive;
  --h4: "Secular One", sans-serif;
  --anchorytexto: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "navbar navbar navbar navbar navbar navbar"
    "navbar navbar navbar navbar navbar navbar"
    "aside video video video video video"
    "aside video video video video video"
    "aside video video video video video"
    "aside video video video video video"
    "footer footer footer footer footer footer";

  /* justify-items: stretch; */
  gap: 20px;

  background-color: var(--body);
}

.navbar {
  width: 100%;
  height: auto;

  grid-area: navbar;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;

  gap: 7px;

  animation: shake-logo 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}

h1 {
  font-size: 3rem;
  font-family: var(--h1);

  color: var(--titulos);
}

@keyframes shake-logo {
  10%,
  90% {
    transform: translate3d(-1px, -1px, -1px);
  }

  20%,
  80% {
    transform: translate3d(2px, 2px, 2px);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, -4px, -4px);
  }

  40%,
  60% {
    transform: translate3d(4px, 4px, 4px);
  }
}

.busqueda {
  width: 60%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.busqueda input {
  width: clamp(100px, 100%, 600px);
  height: 40px;

  padding: 10px;

  font-family: var(--anchorytexto);
  font-weight: bold;

  border-radius: 8px;
  color: var(--detalles);
  background-color: transparent;
  border: 2px solid var(--detalles);
}

button {
  width: 100px;
  height: 40px;

  margin-left: 10px;

  border: 2px solid var(--detalles);
  border-radius: 8px;

  font-family: var(--h4);
  font-size: 1.5rem;
  color: var(--detalles);
  background-color: transparent;
}

.iconos {
  display: flex;
}

.iconos img {
  width: 38px;
  height: 38px;

  margin-right: 3px;
  margin-left: 5px;
}

.iconos img:hover {
  animation: shake-icon 0.82s;
}

@keyframes shake-icon {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

aside {
  width: 200px;
  grid-area: aside;

  padding: 0 20px;
}

aside a {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  font-size: 1.6rem;
  line-height: 40px;

  color: var(--detalles);

  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s;
}

aside a:hover {
  background-size: 100% 2px;
}

aside ul {
  list-style: none;
  padding-bottom: 10px;
}

.subs {
  padding-top: 10px;

  font-family: var(--h4);
  font-size: 2rem;
  letter-spacing: 1.5px;

  color: var(--titulos);
}

hr {
  opacity: 50%;
}

.aside-movil {
  width: 0;
  height: 0;
  grid-area: aside;
  visibility: hidden;
}

.video-container {
  width: 100%;
  height: 100%;

  grid-area: video;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;

  gap: 20px;

  padding: 20px;

  border-radius: 8px;
  background-color: var(--main);
}

iframe {
  width: 100%;
  height: 230px;
}

.video {
  width: clamp(300px, 100%, 500px);
  height: clamp(250px, 100%, 460px);

  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: 1s;
  transition-duration: 0.8s;
  transition-delay: 0.1s;
}

.video:hover {
  transform: scale(1.2);

  border-radius: 8px;
  background-color: #ffccd5;
  border: 1px solid var(--detalles);

  padding-bottom: 10px;
}

.datos {
  display: flex;
  gap: 6px;

  padding-left: 10px;
}

.canal {
  display: flex;
  flex-direction: column;
}

h4 {
  width: 100%;
  font-size: 1.2rem;
  font-family: var(--h4);

  color: var(--titulos);
}

.video-container img {
  width: 36px;
  height: 36px;

  border-radius: 50%;
}

.video-container a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--detalles);
}

a,
p {
  font-family: var(--anchorytexto);
  font-weight: bolder;
}

.boton {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container button {
  transition: 1s;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.71, -0.74, 0.44, 1.06);
}

.video-container button:hover {
  transform: scale(1.2);
}

footer {
  grid-area: footer;
  width: 100%;
  height: 150px;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;

  background-color: var(--titulos);
}

footer a {
  font-size: 1.2rem;
  font-family: var(--anchorytexto);

  text-decoration: none;

  color: var(--body);
}

.footer-1,
a {
  display: flex;
  flex-direction: column;
  gap: 5px;

  transition: 1.5s;
}

.footer-2,
a {
  display: flex;
  flex-direction: column;
  gap: 5px;

  transition: 1.5s;
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.redes img:hover {
  animation: shake-icon 0.82s;
}

@keyframes shake-icon {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.footer-1 a:hover,
.footer-2 a:hover {
  transform: scale(1.5);
}
